version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: visual_db_container
    restart: always
    ports:
      - "${DB_PORT}:5432"  # Пробрасываем порт наружу
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: